<div class="body">
  <div class="container">
    <div class="title">
      <div class="user">
        <img [src]="img" alt="">
        <a href="#" class="logo">User</a>
      </div>

      <div class="tools">
        <a href="#" mat-mini-fab color="primary" [matMenuTriggerFor]="menutools">
          <mat-icon>menu</mat-icon>
        </a>
        <a href="#" mat-mini-fab color="primary" [matMenuTriggerFor]="homemenu">
          <mat-icon>home</mat-icon>
        </a>
        <mat-menu #homemenu="matMenu">
          <button mat-menu-item (click)="closeUser()">Выход</button>
        </mat-menu>
        <mat-menu #menutools="matMenu" yposition=" above">
          <button mat-menu-item>настройка 1</button>
          <button mat-menu-item>настройка 2</button>
          <button mat-menu-item>настройка 3</button>
          <button mat-menu-item>настройка 4</button>
        </mat-menu>
      </div>
    </div>

    <hr class="titlt_hr">

    <nav class="top-menu">
      <ul class="menu-main">

        <li><a role="button" class="current" mat-flat-button  >Все</a></li>
        <li><a role="button"  mat-flat-button>Важные</a></li>
        <li><a role="button"  mat-flat-button>Завершенные</a></li>
        <li><a role="button"  mat-flat-button class="addNew" mat-button (click)="openDialog()">Добавить +</a></li>

        <input style="float:right" class="search" type="search" placeholder="поиск" атрибуты>
      </ul>

    </nav>
    <!--=============================================Section-2===============================================-->

    <div class="card-section">

      <hr>
      <app-card-task *ngFor="let card of cards" [card]="card" (clickEdit)="openDialog(card)" (clickDel)="delCard(card)" ></app-card-task>

    </div>
  </div>
</div>



