.container {
  width: 500px;
  height: 300px;
}
.input-class{
  display: grid;
}
.input-class input {
  margin-bottom: 20px;
  padding: 10px;
}
.button-class{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.button-class button{
  width: 247px;
  height: 30px;
}
