<!--<div class="card_task">-->

  <!--<input type="checkbox" class="custom-checkbox" id="happy" name="happy" value="yes">-->
  <!--<label for="happy">Статус</label>-->
  <!--<p>Lorem ipsum dolor sit amet.</p>-->
  <!--<p class="data">{{ today | date:'short'}}</p>-->

<!--</div>-->
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <input type="checkbox" class="custom-checkbox" [checked]="card?.isPriority"  name="happy" value="yes">
        <label >Статус</label>
      </mat-panel-title>
      <mat-panel-description>
        <p>{{card?.name}}</p>
        <p class="data">{{ card?.createDate | date:'short'}}</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{card?.description}}</p>
  </mat-expansion-panel>

</mat-accordion>
